/* *{
    border: tomato solid 3px;
} */

.card-container {
    margin: 0 auto;
    width: 45%;
    height: auto;
    border-radius: 10px;
    background-color: pink;
    /* width: 35%; */
    /* margin: 40px; */
    /* background-color: black; */
    border-radius: 10px;
    vertical-align:top;
}

.card-image{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card-info{
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    text-align: left;
}
.info-section {
    margin: 0.5%;
}
h3 {
    font-size: 1.3rem;
}

h4{
    font-size: 0.7rem;
}

h5{
    font-size: 1rem;
}

