.navbar {
    margin: 0 auto;
    margin-top: 40px;
    background-color: rgba(19, 153, 142, 0.7);
    width: 80%;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    max-width: 1000px;
}
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.navbar-logo{
    color: white;
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    display: flex;
    justify-content: center;
}